<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="doreen.com.hotelfinder">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DetailsActivity"
            android:label="@string/title_activity_details"></activity>

        <service
            android:name=".FetchIntentService"
            android:exported="false"></service>
        <provider
            android:authorities="@string/content_authority"
            android:name="doreen.com.hotelfinder.content.PlacesProvider"
            android:exported="false"
            android:syncable="true" />
    </application>

</manifest>